.Player{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Time-Control{
    width: 50%;
    margin-top: 0;
    display: flex;
    font-family: 'Sans';
    font-size: 1.2rem;
    font-weight: 400;
    input{
        width:100%;
        padding: 1rem 0;
    }
    p{
        padding: 1rem;
    }
}
.Play-Control{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:30%;
    padding: 1rem;
    svg{
        cursor: pointer;
    }
}

@media screen and (max-width: 768px){
    .Time-Control{
        width: 90%;
    }
    .Play-Control{
        width: 60%;
    }
}