.Player{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Time-Control{
    display: flex;
}
.Play-Control{
    display:flex;
}
.Play-btn,.Skip-Back-btn,.Skip-Forward-btn{
    margin:2em;
}