.Track-Container{
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        margin-bottom: 2em;
        font-family: 'Sans';
        font-weight: 700;
        color:rgb(151, 151, 151);
    }
    img{
        width: 30%;
        margin: 8px 10px;
        border-radius: 50%;
    }
    h2{
        padding: 3rem 1rem 1rem 1rem;
    }
    h3{
        font-size: 1rem;
    }
}


@media screen and (max-width:768px){
    .Track-Container{
        img{
            width: 60%;
        }
    }
}